<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/arquillian-icon-s.png">
            <span class="name">Arquillian</span>
        </a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/invasion/">Invasion!</a></li>
                <li class="nav-item"><a class="nav-link" href="/features/">Features</a></li>
                <li class="nav-item"><a class="nav-link" href="/guides/">Guides</a></li>
                <li class="nav-item"><a class="nav-link" href="/docs/">Docs</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog/">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/community/">Community</a></li>
                <li class="nav-item"><a class="nav-link" href="/modules/">Modules</a></li>
            </ul>
<!--
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
-->
        </div>
    </div>
</nav>
