.navbar {
    background-image: linear-gradient(to bottom, $palette_dark_purple, $palette_pitch_purple);
    background-repeat: repeat-x;
}

a.navbar-brand {
    font-weight: 200;
    color: $palette_10gray;
    text-shadow: 0 1px 0 $palette_dark_purple;
    text-transform: lowercase;
    font-size: 2.2em;
    line-height: 1em;
}

.nav-link {
    font-size: 1.5em;
    color: $palette_10gray;
    text-decoration: none;
}

a.nav-link:hover {
    color: $banner_link_hover_color;
}

a.navbar-brand:hover {
    color: $palette_10gray;
}

.navbar {
    font-family: "Marvel", "Trebuchet MS", Arial, sans-serif;
}

.navbar .container {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 46px;
    height: 46px;
    background-image: url("/images/arquillian-icon-s.png");
}
